/* site wide */

body {
    background-color: rgb(252, 240, 225);
}

main {
    clear: left;
}

.pagenav {
    padding-bottom: 2em;
    padding-top: 2em;
    width: 100%;
    padding-left: 3em;
    margin-right: 1em;
}

.pagenav ul {
    list-style-type: none;
}

.pagenav ul li {
    float: left;
    width: 30%;
    padding-bottom: 1em;
    padding-right: 5px;
    padding-left: 5px;
}

.pagenav ul li a {
    text-align: center;
    display: block;
    padding: 1em 1em;
    text-decoration: none;
    background-color: rgb(63, 1, 113);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 50px;
    border: 5px solid rgb(0, 0, 0);
}



.pagenav a:hover {
    color: rgb(2, 249, 43);
}





h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

.returntopplaceholder {
    text-align: center;
    margin-left: 3em;
}

/* home page */

.disclaimer {
    color: rgb(250, 139, 4);
    text-align: center;
    font-weight: bolder;
}

#homecatimage {
    width: 25%;
    min-width: 250px;
}

/* animal subpage */

.animaltitle {
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

section p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.catcontent {
    line-height: 2em;
    float: left;
    width: 49%;
}

.lizardcontent {
    line-height: 2em;
    float: left;
    width: 49%;
    margin-left: 1em;
}

.birdcontent {
    line-height: 2em;
    float: left;
    width: 49%;
    margin-right: 5em;
}

#animalseparator {
    clear: both;
}

.catimagebox {
    background: url(images/animalimages/cat.jpg) no-repeat;
    background-size: 100%;
    width: 20%;
    padding: 8em 8em;
}

.lizardimagebox {
    background: url(images/animalimages/lizard.jpg) no-repeat;
    background-size: 100%;
    width: 20%;
    padding: 8em 8em;
}

.birdimagebox {
    background: url(images/animalimages/bird.jpg) no-repeat;
    background-size: 100%;
    width: 20%;
    padding: 8em 8em;
}

/* music subpage */

#musictitle {
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.musiccontent {
    column-count: 3;
    column-gap: 40px;
    column-rule: 1em solid rgb(0, 0, 0);
    text-align: center;
}

.genresection {
    font-weight: bolder;
    font-size: 20px;
    break-inside: avoid;
}

.artistsection {
    font-weight: bolder;
    font-size: 20px;
    break-inside: avoid;
}

.songsection {
    font-weight: bolder;
    font-size: 20px;
    break-inside: avoid;
}

/* media */

@media only screen and (max-width: 901px) {
.pagenav ul li {
    float: none;
    width: 65%;
 }
 .pagenav {
    padding-bottom: 2em;
    padding-top: 2em;
    margin: auto;
    width: 100%;
}
}
